@font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-Bold.woff2') format('woff2'), url('../assets/fonts/ProximaNova-Bold.woff') format('woff'), url('../assets/fonts/ProximaNova-Bold.ttf') format('truetype'), url('../assets/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
  }

  @font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-Light.woff2') format('woff2'), url('../assets/fonts/ProximaNova-Light.woff') format('woff'), url('../assets/fonts/ProximaNova-Light.ttf') format('truetype'), url('../assets/fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
  }

  @font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-Medium.woff2') format('woff2'), url('../assets/fonts/ProximaNova-Medium.woff') format('woff'), url('../assets/fonts/ProximaNova-Medium.ttf') format('truetype'), url('../assets/fonts/ProximaNova-Medium.svg#ProximaNova-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
  }

  @font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-LightIt.woff2') format('woff2'), url('../assets/fonts/ProximaNova-LightIt.woff') format('woff'), url('../assets/fonts/ProximaNova-LightIt.ttf') format('truetype'), url('../assets/fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
	font-weight: 300;
	font-style: italic;
  }

  @font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-MediumIt.woff2') format('woff2'), url('../assets/fonts/ProximaNova-MediumIt.woff') format('woff'), url('../assets/fonts/ProximaNova-MediumIt.ttf') format('truetype'), url('../assets/fonts/ProximaNova-MediumIt.svg#ProximaNova-MediumIt') format('svg');
	font-weight: 500;
	font-style: italic;
  }

  @font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'), url('../assets/fonts/ProximaNova-RegularIt.woff') format('woff'), url('../assets/fonts/ProximaNova-RegularIt.ttf') format('truetype'), url('../assets/fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
	font-weight: 400;
	font-style: italic;
  }

  @font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-Regular.woff2') format('woff2'), url('../assets/fonts/ProximaNova-Regular.woff') format('woff'), url('../assets/fonts/ProximaNova-Regular.ttf') format('truetype'), url('../assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
  }

  @font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-SemiboldIt.woff2') format('woff2'), url('../assets/fonts/ProximaNova-SemiboldIt.woff') format('woff'), url('../assets/fonts/ProximaNova-SemiboldIt.ttf') format('truetype'), url('../assets/fonts/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
	font-weight: 600;
	font-style: italic;
  }

  @font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-ThinIt.woff2') format('woff2'), url('../assets/fonts/ProximaNova-ThinIt.woff') format('woff'), url('../assets/fonts/ProximaNova-ThinIt.ttf') format('truetype'), url('../assets/fonts/ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg');
	font-weight: 100;
	font-style: italic;
  }

  @font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/ProximaNova-Semibold.woff2') format('woff2'), url('../assets/fonts/ProximaNova-Semibold.woff') format('woff'), url('../assets/fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
  }

  @font-face {
	font-family: 'Proxima Nova Thin';
	src: url('../assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'), url('../assets/fonts/ProximaNovaT-Thin.woff') format('woff'), url('../assets/fonts/ProximaNovaT-Thin.ttf') format('truetype'), url('../assets/fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
  }

  @font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../assets/fonts/ProximaNova-BoldIt.woff2') format('woff2'), url('../assets/fonts/ProximaNova-BoldIt.woff') format('woff'), url('../assets/fonts/ProximaNova-BoldIt.ttf') format('truetype'), url('../assets/fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
	font-weight: 700;
	font-style: italic;
  }


.nav {
	display: flex;
	justify-content: space-evenly;
}

.nav a {
	list-style: none;
}

.flex-container {
	background-color: rgb(109, 109, 109);

}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.flex-column,
.one-third,
.two-thirds,
.one-fourth,
.one-sixth,
.three-fourths {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	margin: 15px;
}

.page-wrapper {
    margin: 15px;
    padding: 25px;
}

.page-wrapper .main-image {
    width: 100%;
}

.vert-centered {
    align-items: center;
}

.header,
.body {
    color: #fff;
    font-family: 'Proxima Nova Thin'
}

.header {
    font-size: 6vw;
    margin-bottom: 0;

}

.body {
    font-size: 2vw;
    text-align: left;
    line-height: 1.2;
}

.icon {
    align-items: center;
}

.icon img {
    padding-bottom: 10px;
}

.icon p {
    color: #fff;
    margin-top: 10px;
    width: 75%;
    text-align: center;
    font-family: 'Proxima Nova';
    line-height: 25px;

}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
        text-align: center;
        font-size: 13vw;
    }

    .body {
        width: 100%;
        text-align: center;
        font-size: 5vw;
    }
}

@media screen and (min-width: 800px) {
	.flex-column {
		flex: 1;
	}

	.two-thirds {
		flex: 2;
	}

	.one-third {
		flex: calc(1/2);
	}

	.one-fourth {
		flex: calc(1/3);
	}

	.one-sixth {
		flex: calc(1/5);
	}

	.three-fourths {
		flex: 3;
	}
}

.toggle-content {
    display: none;
    padding: 5px;
    color: #fff;
    background-color: #000;
}

a.toggle {
    text-align: center;
}

span.highlight {
    color: white;
}

span.code {
    color: #1c60a8;
}

span.declared-class {
    color: orange;
}

span.native-attribute {
    color: #56e4f0;
}

pre {
    font-size: 20px;
    text-align: left;
}