
.header {
	display: flex;
	justify-content: space-evenly;
}

.header a {
	list-style: none;
}

.flex-container {
	margin: 15px;
	background-color: red;

}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.blue-column { background-color: blue; height: 100px;}
.green-column { background-color: green; height: 100px;}
.orange-column { background-color: orange; height: 100px;}
.purple-column { background-color: purple; height: 100px;}

@media screen and (min-width: 800px) {
	.flex-column {
		flex: 1;
	}

	.double-column, 
	.two-thirds {
		flex: 2;
	}

	.one-third {
		flex: calc(1/2);
	}

	.one-fourth {
		flex: calc(1/3);
	}

	.one-sixth {
		flex: calc(1/5);
	}

	.three-fourths {
		flex: 3;
	}
}